/* === Configurações Gerais === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --white: #f9f9f9;
  --white-200: #ebe9ea;
  --gray: #474747;
  --black-light: #181818;
  --bg-banner: url(./img/wallpaper.jpeg);
  --bg-banner-desk: url(./img/Air-Jordan-1-Retro-Desk.jpg);
}

body {
  font-family: "Montserrat";
  font-size: 1.6rem;
}

/* === Announcement === */
#announcement {
  top: 0;
  width: 100%;
  height: 6rem;

  background: var(--black-light);
}

#announcement h4 {
  display: flex;
  justify-content: center;
  padding-block: 1.5rem;

  font-style: normal;
  font-weight: 500;
  line-height: 196.19%;

  color: var(--white);
}

/* === Logotipo === */
#logo {
  top: 0;
  width: 100%;
  height: 6rem;

  background: var(--white);
}

#logo h3 {
  display: flex;
  justify-content: center;
  padding-block: 1.5rem;

  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.9rem;

  color: var(--black-light);
}

/* === Header === */
#header {
  height: 37.7rem;
  background: var(--black-light) var(--bg-banner-desk) center;
  background-repeat: no-repeat;
}

#header .banner-content {
  width: 100%;

  display: flex;
  flex-direction: column;

  text-align: left;
  padding-block: 12.2rem;
  padding-inline: 3rem;
  gap: 1.5rem;
}

.banner-content h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.4rem;

  color: var(--white);
}

.banner-content p {
  font-style: normal;
  line-height: 100%;

  color: var(--white);
}

/* === Highlights === */
#highlights .content {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5.9rem;

  gap: 0.5rem;
}

/* === Products List === */
#products {
  max-width: 192rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
  margin: 0 auto;

  gap: 3rem;
}

#products .card {
  width: 37.4rem;
  height: 30.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--white-200);
}

.card img {
  width: 25rem;
  height: 15rem;
}

/* === Footer === */
footer {
  width: 100%;
  height: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--black-light);
}

footer h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;

  color: var(--white);
}
